<div class="wp">
    <div class="cart">
        <div class="cart-table">
            <div class="th th-info">ProductInfo</div>
            <div class="th th-space">&nbsp;</div>
            <div class="th th-price">Price</div>
            <div class="th th-amount">Amount</div>
            <div class="th th-sum">Sum</div>
            <div class="th th-op">Operation</div>
        </div>
        <!--<div class="container" >-->
        <!--<div class="items" *ngIf="products">-->
        <!--<div *ngFor="let product of products" class="item">-->
        <!--<div class="name">{{product.name | uppercase}}</div>-->
        <!--<div class="price">{{product.price}}</div>-->
        <!--<div class="rm">X</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="total">￥ {{total}}</div>-->
        <!--<button class="btn">Pay Now</button>-->
        <!--</div>-->
        <div class="container2">
            <div class="order-list">
                <!--list of different shops-->
                <div class="order-of-shop">
                    <!--shop infomation-->
                    <div class="shop">
                        <div class="shop-info">
                            <div class="cart-checkbox">
                                <input class="shopcheckbox" name="orders[]" value="" type="checkbox">
                                <label></label>
                            </div>
                            &nbsp;&nbsp;店铺：<span class="shop-name">NEOCommerce</span>
                        </div>
                    </div>
                    <!--each product of this shop, presented by ul-->
                    <div class="order-content">
                        <ul class="item-content">
                            <li class="td cart-checkbox p-checkbox">
                                <input type="checkbox" name="checkItem">
                                <label for>勾选商品</label>
                            </li>
                            <li class="td name">
                                <div class="item-pic"><img src="model/MERCEDES-BENZ-G500/large_thumbnail.jpg"></div>
                                <div class="item-info">MERCEDES-BENZ-G500</div>
                            </li>
                            <li class="td info"><div></div></li>
                            <li class="td price">88888</li>
                            <li class="td amount">1</li>
                            <li class="td sum">88888</li>
                            <li class="td rm"><a class="remove-btn">remove</a></li>
                        </ul>
                        <ul class="item-content">
                            <li class="td cart-checkbox p-checkbox">
                                <input type="checkbox" name="checkItem">
                                <label for>勾选商品</label>
                            </li>
                            <li class="td name">
                                <div class="item-pic"><img src="model/MYSTIK_DSRV_CC50/large_thumbnail.jpg"></div>
                                <div class="item-info">MYSTIK_DSRV_CC50</div>
                            </li>
                            <li class="td info"><div></div></li>
                            <li class="td price">12335242</li>
                            <li class="td amount">1</li>
                            <li class="td sum">12335242</li>
                            <li class="td rm"><a class="remove-btn">remove</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="balance-bar">
        <div class="fl operations">
            <div class="cart-checkbox">
                <input type="checkbox">
                <label for>勾选全部商品</label>
            </div>
            <span class="select-all">全选</span>
            <div class="rm-selected">删除</div>
        </div>
        <div class="fr">
            <div class="btn-aera"><a class="btn">Pay Now</a></div>
            <div class="total">￥ 0</div>
        </div>
    </div>
</div>


