<div class="wp">
    <div class="cart">
        <div class="cart-table">
            <div class="th th-info">ProductInfo</div>
            <div class="th th-space">&nbsp;</div>
            <div class="th th-price">Price</div>
            <div class="th th-amount">Amount</div>
            <div class="th th-sum">Sum</div>
            <div class="th th-op">Operation</div>
        </div>
        <div class="container2">
            <div class="order-list" *ngIf="cart.shopOrders">
                <!--list of different shops-->
                <div class="order-of-shop" *ngFor="let shop of cart.shopOrders">
                    <!--shop infomation-->
                    <div class="shop">
                        <div class="shop-info">
                            <div class="cart-checkbox">
                                <input class="shopcheckbox" name="orders[]" value="" type="checkbox" [checked]="shopSelected(shop)">
                                <label></label>
                            </div>
                            &nbsp;&nbsp;店铺：<span class="shop-name">{{shop.shop}}</span>
                        </div>
                    </div>
                    <!--each product of this shop, presented by ul-->
                    <div class="order-content">
                        <ul class="item-content" *ngFor="let order of shop.orders">
                            <li class="td cart-checkbox p-checkbox">
                                <input type="checkbox" [checked]="order.selected" name="checkItem" >
                                <label for>勾选商品</label>
                            </li>
                            <li class="td name">
                                <div class="item-pic"><img src="model/{{order.product.name}}/large_thumbnail.jpg"></div>
                                <div class="item-info">{{order.product.name}}</div>
                            </li>
                            <li class="td info"><div></div></li>
                            <li class="td price">{{order.product.price}}</li>
                            <li class="td amount" #this_amount>1</li>
                            <li class="td sum">{{order.product.price * 1}}</li>
                            <li class="td rm"><span class="remove-btn" (click)="delete(order)">X</span></li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="balance-bar">
        <div class="fl operations">
            <div class="cart-checkbox">
                <input type="checkbox" (select)="selectAll()">
                <label for>勾选全部商品</label>
            </div>
            <span class="select-all">全选</span>
            <div class="rm-selected" (click)="deleteSelected()">删除</div>
        </div>
        <div class="fr">
            <div class="btn-aera"><a class="btn">Pay Now</a></div>
            <div class="total">￥ {{total}}</div>
        </div>
    </div>
</div>