div.detail-container {
    min-height: 500px;
}
div.main-content {
    width: 654px;
    margin-right: 50px;
    box-sizing: border-box;
    padding-bottom: 20px;
    display: inline-block;
    vertical-align: top;
}
div.main-content #canvas_container {
    height: 369px;
}
div.metadata-panel {
    width: 280px;
    /*margin-right: 5%;*/
    display: inline-block;
}
.model-title, .metadata-top {
    margin-bottom: 10px;
}
canvas {
    padding: 0;
    margin: 0;
}
.model-description {
    margin-top: 10px;
    font-size: 13px;
    clear: left;
    font-weight: 300;
    margin-bottom: 20px;
    word-wrap: break-word;
    color: #444;
    letter-spacing: -0.01em;
}
.metadata-center {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    background: #f8f8f8;
    border: 1px solid #babcbf;
    display: block;
}
.metadata-center h2 {
    padding-left: 10px;
}
.metadata-center .detail .detail-item {
    margin: 10px 26px 10px ;
    box-sizing: border-box;
    display: block;
}
.metadata-center .detail .detail-item .detail-left{
    display: table-cell;
    padding-right: 5px;
    vertical-align: top;
    width: 100%;
}
.detail-left h3 {
    display: inline;
    font-size: 14px;
    font-weight: 600;
}
.metadata-center .detail .detail-item .detail-right{
    display: table-cell;
    vertical-align: top;
    text-align: right;
    white-space: nowrap;
}
.price-bar {
    background: #f9f9f9;
    margin-top: 10px;
}
.price-bar .price-label {
    font-size: 16px;
    line-height: 38px;
}
.price-bar .value {
    color: #fc5454;
    line-height: 34px;
    font-size: 32px;

}
.metadata-bottom {
    margin-top: 15px;
}
.metadata-bottom .btn-add-into-trolley, .metadata-bottom .btn-submit {
    display: inline-block;
    cursor: pointer;
    line-height: 42px;
    font-size: 20px;
    text-align: center;
    background: #ffdddc;
    letter-spacing: 2px;
    border: 1px solid #fc5454;
    color: #fc5454;
    width: 45%;
}
.metadata-bottom .btn-add-into-trolley{
    margin-right: 15px;
}