 <nav class="global-menu navbar-fixed-top " role="navigation" data-igm>
        <div class="container main-navbar">
            <!--::before-->
            <div class="row">
                <!--::before-->
                <div class="nav-left ">
                    <div class="content">
                        <ul>
                            <li>
                                <button>Products</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="nav-center ">
                    <div class="content">
                        <div class="brand">NEOCOMMERCE</div>
                    </div>
                </div>
                <div class="nav-right ">
                    <div class="content">
                        <ul>
                            <li>
                                <button class="login login-toggle">
                                <span class="login-label">Login</span>
                                <!--<span class="login-icon"></span>-->
                                </button>
                            </li>
                            <li>
                                <button class="logup logup-toggle">
                                    <span class="logup-label">Logup</span>
                                </button>
                            </li>
                            <li>
                                <button class="provider ">
                                    <span class="provider-label">Provider</span>
                                </button>
                            </li>
                            <li>
                                <button class="service ">
                                    <span class="service-label">Service</span>
                                </button>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
 </nav>