<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="rwd">
<head>
    <meta charset="UTF-8" />
    <!--<meta http-equiv="refresh" content="0; url=3Dtest.html">-->
    <title>Welcome to NeoCommerce</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
<!--<iframe scr="./templates/3Dtest.html"></iframe>-->
<div class="container global-container">
    <header role="banner">
    <nav class="global-menu navbar-fixed-top " role="navigation" data-igm>
        <div class="container main-navbar">
            <!--::before-->
            <div class="row">
                <!--::before-->
                <div class="nav-left ">
                    <div class="content">
                        <ul>
                            <li>
                                <button>Products</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="nav-center ">
                    <div class="content">
                        <div class="brand">NEOCOMMERCE</div>
                    </div>
                </div>
                <div class="nav-right ">
                    <div class="content">
                        <ul>
                            <li>
                                <button class="login login-toggle">
                                <span class="login-label">Login</span>
                                <!--<span class="login-icon"></span>-->
                                </button>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </nav>
    </header>
    <div class="page">
    <section class="chat-box on-line ">
        <div class="section-title title">
            People Online
        </div>
        <ul class="userlist" id="userlist">
            <li id="list-1">
                <button>Neo</button>
            </li>
            <li id="list-2">
                <button>Penguinfreud</button>
            </li>
            <li id="list-3">
                <button>WXY</button>
            </li>
        </ul>
    </section>
    <section class="demonstration main-content">
        <div class="section-title title ">
            Our Product </div>
        <div class="container product-show">
            <a href="3Dtest.html" >
                <img src="../model/Hetzer_2/large_thumbnail.jpg">
            </a>
        </div>
    </section>
    </div>

    <footer class="global ">
        <div class="container footer">
            <div class="row">
                <ul>
                    <li>© Neocommerce</li>
                    <li>Tel: ***</li>
                    <li>Addr: ***</li>
                    <li>PostCode: ***</li>
                </ul>
            </div>
        </div>

    </footer>
</div>
</body>
</html>
